{% extends "base.html" %}
{% load i18n %}

{% block site_title %}{{ flatpage.title|escape }}{% endblock %}
{% block meta_robots %}noindex,nofollow{% endblock %}

{% block content_class %}posts{% endblock %}

{% block content %}
    <article class="post">
        <h2 class="title">{{ flatpage.title }}</h2>

        {{ flatpage.content|safe }}

    </article>
{% endblock %}
