{% load i18n %}

{% if jobs %}
    <ul>
        {% for job in jobs %}
            <li>
                <a href="{{ job.get_absolute_url }}" title="{{ job.description|safe }}">{{ job.description }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="notice">{% trans "Não há trabalhos para serem exibidos" %}</p>
{% endif %}

