@import "compass/css3/text-shadow";

#footer {
    @include text-shadow($default-text-shadow-h-offset, $default-text-shadow-v-offset, $default-text-shadow-blur, #333);
    background: #2d2722;
    border-top: 2px solid #2d2722;
    color: #b0a792;
    font-size: $default-font-size - 3;
    line-height: 18px;
    padding: 40px 0;
    text-align: center;
    text-transform: uppercase;

    p { margin: 0; }
}

#made-with { margin-bottom: 20px; }
