{% extends "diario/entry_list.html" %}
{% load i18n %}

{% block site_title %}{{ tag|escape }}{% endblock %}
{% block meta_robots %}noindex,follow{% endblock %}

{% block content %}
    <p class="highlight">{% blocktrans %}Posts tagueados com <strong>{{ tag }}</strong>.{% endblocktrans %}</p>

    {{ block.super }}
{% endblock %}
