{% extends "base.html" %}
{% load i18n comments core_extras %}

{% block content_class %}posts{% endblock %}

{% block content %}

{% for entry in entry_list %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        {% include "diario/includes/header.html" %}

        <div class="summary" itemprop="description">{{ entry.body|readmore|safe }}</div>

        <footer class="meta">
            <p>
            {% blocktrans with author=entry.author.first_name datetime=entry.pub_date|date:"Y-m-d\TH:i:s" pub_date=entry.pub_date|date:"d \d\e F \d\e Y" %}
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">Por <strong itemprop="name">{{ author }}</strong></span>
                em <time datetime="{{ datetime }}" itemprop="datePublished">{{ pub_date }}</time>.
            {% endblocktrans %}
            {% if entry.enable_comments %}
                {% get_comment_count for entry as comment_count %}
                <a href="{{ entry.get_absolute_url }}#comments" title="{% trans "Leia os comentários" %}" itemprop="discussionUrl">{% if comment_count %}{% trans "Comentários" %} (<span itemprop="interactionCount">{{ comment_count }}</span>){% else %}{% trans "Nenhum comentário" %}{% endif %}</a>.
            {% endif %}
            <a href="{{ entry.get_absolute_url }}#readmore" title="{% trans "Leia este artigo completo" %}" itemprop="url">{% trans "Artigo completo" %}</a>.
            </p>
        </footer>
    </article>
{% empty %}
    <p class="notice">{% trans "Não há artigos para serem exibidos." %}</p>
{% endfor %}

{% include "pagination.html" %}

{% endblock %}
